.main-navigationpbt ul li:hover > a,
.main-navigationpbt li.current-menu-item > a,
.main-navigationpbt li.current-menu-parent > a,
.main-navigationpbt li.current-page-ancestor > a,
.main-navigationpbt .current_page_item > a,
.main-navigationpbt .current_page_parent > a {
background: rgba(0,0,0,.03);
}
.main-navigationpbt {
clear: both;
display: block;
float: left;
width: 100%;
}
.main-navigationpbt ul {
list-style: none;
margin: 0;
padding-left: 0;
}
.main-navigationpbt li {
float: left;
position: relative;
}
.main-navigationpbt a {
display: block;
text-decoration: none;
padding: 1.5em 1em;
-o-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.main-navigationpbt ul li .indicator {
position: absolute;
right: 43%;
bottom: 5px;
font-family: 'FontAwesome';
font-size: 12px;
line-height: 1;
}
.main-navigationpbt ul li .indicator:before {
content: "\f0d7";
}
.main-navigationpbt ul ul li .indicator {
right: 20px;
bottom: 39%;
}
.main-navigationpbt ul ul li .indicator:before {
content: "\f0da";
}
.main-navigationpbt ul ul {
float: left;
position: absolute;
top: 67px;
left: auto;
z-index: 99999;
background: #ffffff;
border-bottom: 2px solid rgba(0,0,0,.1);
visibility:hidden;
opacity:0;
transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.main-navigationpbt ul ul ul {
left: 100%;
top: 0;
visibility:hidden;
opacity:0;
transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.main-navigationpbt ul ul a {
width: 200px;
font-size: 95%;
}
.main-navigationpbt ul ul li {
}
.main-navigationpbt li:hover > a {
}
.main-navigationpbt ul li:hover > ul {
visibility:visible;
opacity:1;
transition-delay:0s;
}
.main-navigationpbt ul ul li:hover > ul {
visibility:visible;
opacity:1;
transition-delay:0s;
}
.main-navigationpbt .current_page_item a,
.main-navigationpbt .current-menu-item a {
}
/* Small menu */
.menu-togglepbt {
display: none;
}
@media screen and (max-width: 768px) {
.menu-togglepbt,
.main-navigationpbt.toggled .nav-menu {
display: block;
width: 100%;
border-radius: 4px;
background: #36c1c8;
color: #ffffff;
text-align: left;
float:left;
padding: 1em;
}
.main-navigationpbt.toggled .nav-menu ul {
display: block;
left: auto;
position: relative;
top: 0;
border-bottom: 0px;
padding-left: 5%;
background: #36c1c8;
width: 100%;
opacity: 1;
visibility: visible;
}
.main-navigationpbt.toggled ul ul a {
font-size: 100%;
width: 100%;
}
.menu-togglepbt i {
float:right;
}
.main-navigationpbt ul {
display: none;
}
.main-navigationpbt li {
width: 100%;
}
.main-navigationpbt a {
padding: .5em;
color: #ffffff;
border-bottom: 1px solid rgba(0,0,0,.05);
}
.main-navigationpbt a:hover {
color: #ffffff;
}